{% extends "layout.html" %}
<!-- tiltle -->

{% block title %}About{% endblock %}

<!-- Body Starts Here -->

{% block body %}

<h1>About Us</h1>
<hr>

<div class="table-responsive">
<table class="mx-auto w-auto" style="width: 100%;">
    <tr class="d-flex">
        <td style= "width: 50%";> 
            <img width="500px" height="300px" class="about-img"  src="/static/images/img6.jpg" alt="img6">
        </td>
        <td style=  "width: 50%";>
            <h2>CREDIT CARD FRAUD PREDICTION MODEL</h2>
            <p><p>According to the FBI portal, Credit card fraud is the unauthorized use of a credit or debit card, or similar payment tool (ACH, EFT, recurring charge, etc.), 
            to fraudulently obtain money or property. Credit and debit card numbers can be stolen from unsecured websites or can be obtained in an identity theft scheme. It is with this
            in mind I decided to developed a protype application that can use Machine Learning Model to predict if a transaction is fradulent or not.
            In this proeject the Model will recieve variables from the user via an uploaded csv files. The model can current predict a single record which contains 30 variables in form columns in the
            csv file. The model has been training with the sample dataset obtained from Kaggle.com. See the dataset tab to view the data used for training and testing my model.
            
            </p>
        </td>
    </tr>
</table>
</div>





{% endblock %}
